.product-card {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.product-title
{
    font-size: 36px;
}
img {
    width: 25%;
}
